<div class="row">
  <div class="large-12 columns">

    <div class="row">
      <div class="large-12 columns">

        <nav class="top-bar" data-topbar>
          <ul class="title-area">
             
            <li class="name">
              <h1>
                <a href="#">
                  Insignia e-Commerce
                </a>
              </h1>
            </li>
            <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
          </ul>
       
          <section class="top-bar-section">
             
            <ul class="right">
              <li class="divider"></li>
              <li class="has-dropdown">
                <a href="#">Main Item 1</a>
                <ul class="dropdown">
                  <li><label>Section Name</label></li>
                  <li class="has-dropdown">
                    <a href="#" class="">Has Dropdown, Level 1</a>
                    <ul class="dropdown">
                      <li><a href="#">Dropdown Options</a></li>
                      <li><a href="#">Dropdown Options</a></li>
                      <li><a href="#">Level 2</a></li>
                      <li><a href="#">Subdropdown Option</a></li>
                      <li><a href="#">Subdropdown Option</a></li>
                      <li><a href="#">Subdropdown Option</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Dropdown Option</a></li>
                  <li><a href="#">Dropdown Option</a></li>
                  <li class="divider"></li>
                  <li><label>Section Name</label></li>
                  <li><a href="#">Dropdown Option</a></li>
                  <li><a href="#">Dropdown Option</a></li>
                  <li><a href="#">Dropdown Option</a></li>
                  <li class="divider"></li>
                  <li><a href="#">See all →</a></li>
                </ul>
              </li>
              <li class="divider"></li>
              <li><a href="#">Main Item 2</a></li>
              <li class="divider"></li>
              <li class="has-dropdown">
                <a href="#">Marcas</a>
                <ul class="dropdown">
                  <% @brands.each do |brand| %>
                    <li><%= link_to brand.name, home_brand_path(brand_id: brand.id) %></li>
                  <% end %>
                </ul>
              </li>
            </ul>
          </section>
        </nav>
         
      </div>
    </div>

   

    <div class="row">

 

      <div class="large-4 small-12 columns">

        <img src="https://placeimg.com/303/328/any">

        <div class="hide-for-small panel">
          <h3>Tienda de Insignia</h3>
          <h5 class="subheader">Aqui podrás comprar los libros necesarios para tu capacitación.
          </h5>
        </div>

        <a href="#">
        <div class="panel callout radius">
          <h6>99  items in your cart</h6>
        </div>
        </a>

      </div>

   


   

      <div class="large-8 columns">
        <div class="row">

          <% @products.each do |product| %>
            <div class="large-4 small-6 columns">
              <%= image_tag product.image.url(:medium) %>

              <div class="panel">
                <h5><%= product.name %></h5>
                <h6 class="subheader"><%= number_to_currency product.price %></h6>
              </div>
            </div>

          <% end %>



   
        <div class="row">
          <div class="large-12 columns">
            <div class="panel">
              <div class="row">

                <div class="large-2 small-6 columns">
                  <img src="https://robohash.org/carlos-kozuszko">
                </div>

                <div class="large-10 small-6 columns">
                  <strong>Este sitio fue creado por<hr/></strong>

                  Carlos Kozuszko para el curso de capacitación de sitios de e-commerce con Ruby on Rails.
                </div>

              </div>
            </div>
          </div>

   

        </div>
      </div>
    </div>


   

    <footer class="row">
      <div class="large-12 columns"><hr/>
        <div class="row">

          <div class="large-6 columns">
            <p>© Copyright no one at all. Go to town.</p>
          </div>

          <div class="large-6 columns">
            <ul class="inline-list right">
              <li><a href="#">Link 1</a></li>
              <li><a href="#">Link 2</a></li>
              <li><a href="#">Link 3</a></li>
              <li><a href="#">Link 4</a></li>
            </ul>
          </div>

        </div>
      </div>
    </footer>

   

  </div>
</div>
